
/* ---------------------------------------- Base styles ---------------------------------------- */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Montserrat, sans-serif;
    font-size: 18px;
}

@primary-blue: #3178c6;
@secondary-blue: #235a97;


/* ------------------------------------------- Header ------------------------------------------ */

h1 {
    color: @secondary-blue;
    font-size: 30px;
    margin: 20px;
    text-align: center;
}
